<div class="row">
	<div class="container col-md-3">
		<h2>Links</h2>
		<ul class="list-unstyled list-inline">
			<li>
				<%= link_to "https://github.com/Salomanuel", class:"btn btn-default" do %>
					<i class="fa fa-github fa-3x" aria-hidden="true"></i>
				<% end %>
			</li>
			<li>
				<%= link_to "https://facebook.com/salomanuel", class:"btn btn-default" do %>
					<i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
				<% end %>
			</li>
		</ul>
		<h2>Languages:</h2>
		<ul class="list-unstyled"><strong>fluent:</strong>
			<li><%= flag_icon(:gb) %> English</li>
			<li><%= flag_icon(:it) %> Italian</li>
			<li><%= flag_icon(:es) %> Spanish</li>
		</ul>
		<ul class="list-unstyled"><strong>intermediate:</strong>
			<li><%= flag_icon(:fr) %> French</li>
		</ul>
		<ul class="list-unstyled"><strong>Ich verstehe nur Bahnhof</strong>
			<li><%= flag_icon(:de) %> German</li>
		</ul>

	</div>
	<div class="container col-md-6">
		<h1>About Manuel </h1>
		<h2>Bio
		<p>Born in Switzerland to Spanish mother and Italian father, I was raised in a cultural melting pot, this made me an open minded person that values diversity. As I have lived in different cosmopolitan cities, I had the opportunity to meet people from all geographical and cultural backgrounds.</p>
		<p>I've been told that in real life I am less pixelated. Sorry to disappoint.</p>
	</div>
	<div class="container col-md-3">
		<h2>IT skillz</h2>
		<ul class="list-unstyled itskillz">
			<li>
				<i class="icon-ruby"></i>
				Ruby
			</li>
			<li>
				<i class="icon-ruby-on-rails-alt"></i>
				Ruby on Rails
			</li>
			<li>
				<i class="icon-postgres"></i>
				SQL
			</li>
			<li>
				<i class="icon-git"></i>
				Git</li>
			<li>
				<i class="icon-html5-alt"></i>
				HTML
			</li>
			<li>
				<i class="icon-css3-alt"></i>
				<i class="icon-bootstrap"></i>
				CSS
			</li>
			<li>
				<i class="icon-javascript-alt"></i>
				JavaScript
			</li>
			<li>
				<i class="icon-jquery"></i>
				jQuery
			</li>
			<li>
				<i class="fa fa-linux"></i>
				<i class="icon-linux"></i>
				<i class="icon-debian"></i>
				<i class="icon-ubuntu"></i>
				<i class="icon-kde"></i>
				<i class="icon-gnome"></i>
				Linux
			</li>
		</ul>
	</div>
</div>
