<!DOCTYPE html>
<html lang="en">
<style title="pjs_ct_015926131851287295"></style>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="Manuel Salomone">

  <title>Salomanuel Developer</title>

 
  <!-- FAVICONS -->
  <%= render 'application/favicon' %>
   


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag 		'application', media: 'all' %>
  <%= javascript_include_tag 	'application' 								 %> 
  
  <%= stylesheet_link_tag     'font-mfizz', media: 'all' %>
  
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand-main">
            <div >
              <a class="navbar-brand" href="https://salomanuel.herokuapp.com/">Salomanuel<br>developer</a>
            </div>
            <div>
              <a class="navbar-brand" href="https://salomanuel.herokuapp.com/"><%= image_tag "avatar_round.png", alt: "Manuel's avatar" %></a>
            </div>
          </div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="<%= is_active?('/') %>">				<%= link_to "Home", root_path %>
            <li class="<%= is_active?('/about') %>">	<%= link_to "About Me", about_path %></li>
            <li class="<%= is_active?('/contact') %>"><%= link_to "Contact", contact_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle <%= is_active?('/overview') %>" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Portfolio <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Overview", portfolio_path %></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Apps</li>
                <li><%= link_to "Stupid Squares (Javascript)", squares_path %>
                <li><a href="https://manuel-flight-booker.herokuapp.com/">Saloflights</a></li>
                <li><a href="https://manuel-fakebook.herokuapp.com/">Fakebook (alpha)</a></li>
                
                <li><a href="https://manuel-sample-app.herokuapp.com/">Hartl's Tutorial App</a></li>
                <li><a href="https://fiammettabook.herokuapp.com/">Fiammettabook</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li></li>
            <li></li>
            <li class="active"></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
				<%= yield %>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="Fixed%20Top%20Navbar%20Example%20for%20Bootstrap_files/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="Fixed%20Top%20Navbar%20Example%20for%20Bootstrap_files/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="Fixed%20Top%20Navbar%20Example%20for%20Bootstrap_files/ie10-viewport-bug-workaround.js"></script>
  

</body></html>